.aboutpnl {
  background-image: url(../../images/aboutbg.png);
  background-size: cover;
  padding: 10%;
}

.info {
  color: white;
  text-align: center;
  font-size: larger;
}

.pnllogosRow {
  padding-bottom: 4%;
}
