.aboutpnl {
  background-image: url(../../images/aboutbg.png);
  background-size: cover;
  padding-left: 0;
}

.info {
  color: white;
  text-align: center;
  font-size: larger;
}

.pnllogosRow {
  padding-bottom: 4%;
}

.pnlstrip {
  width: 100%;
  padding: 5% 0%;
}
