.topnav {
  background: rgb(112, 4, 4);
  background: linear-gradient(
    0deg,
    rgba(112, 4, 4, 1) 0%,
    rgba(149, 7, 7, 1) 15%
  );
  padding: 0 !important;
  padding-right: 6% !important;
}

.topbody {
  padding: 0 !important;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;

  /* the rest of your styling */
  background-color: #8c0606;
}
