/* .topnav {
  background: rgb(112, 4, 4);
  background: linear-gradient(
    0deg,
    rgba(112, 4, 4, 1) 0%,
    rgba(149, 7, 7, 1) 15%
  );
  padding: 0 !important;
  padding-right: 6% !important;
}

.topbody {
  padding: 0 !important;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;

  
  background-color: #8c0606;
}

a {
  font-size: larger;
}

@media screen and (max-width: 480px) {
  .navImagesLogo {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .navImages {
    display: none;
  }
} */

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}