.footermain {
  background: rgb(140, 6, 6);
  background: linear-gradient(
    0deg,
    rgba(140, 6, 6, 1) 85%,
    rgba(112, 4, 4, 1) 100%
  );
}

.footerRow {
  padding: 3% 2%;
  color: white;
}

.links {
  padding: 0;
  color: white;
}

/* a {
  padding: 5px 10px;
} */

a img {
  margin: 1%;
}
